[Unit]
Description=Prometheus Server
After=network.target
# Would like the exporter also running
Wants=exporter.service


[Service]
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/home/ubuntu/prometheus/prometheus --config.file=/home/ubuntu/prometheus/prometheus.yml --storage.tsdb.path=/home/ubuntu/prometheus/data
Restart=always

[Install]
# Start automatically upon boot
WantedBy=multi-user.target